body{
    background-color: #282248;
    font-family: 'arial';
}
h1{
    color: #D2CEE4;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
h2{
    font: 1rem;
    font-weight: normal;

}
a{
    color: #D2CEE4;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
}
a:hover{
    color: white;
}
#active, #inactive{
    width: 45vw;
    min-height: 270px;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    background-color:#1f1838;
    display: inline-block;
    border: 1px #D2CEE4 solid;
    border-radius: 2px;
}
#active{
    background: #fcfff5;
    color: #2c662d;
}
#inactive{
    background: #fff6f6;
    color: #9f3a38;
}
.draggable{
    background-color: #282248;
    margin: 2px;
    display: inline;
    padding: 3px;
    border-radius: 5px;
    border: 1px white;
    color: white;
    cursor: move;
}

