<!DOCTYPE HTML>
<html>
{% load static %}
<head>
    <title>Admin Portal</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}" />
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/Cookies.js' %}"></script>
    <script src="{% static 'js/admin.js' %}">
    </script>
</head>
<body>
    <h1>hi {{ request.user.username }} (admin)</h1>
    <div id="active" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h2>Hired By IMG</h2>
        {% for user in active_users %}
            {% if not user.is_superuser %}
            <div draggable="true" ondragstart="drag(event)" id="{{ user.username }}" class="draggable">{{ user.username }}</div>
        {% endif %}
        {% endfor %}
    </div>
    <div id="inactive" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h2>New DJs Entries </h2>
        {% for user in inactive_users %}
            <div draggable="true" ondragstart="drag(event)" id="{{ user.username}}" class="draggable">{{user.username}}</div>
        {% endfor %}
    </div>
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>

