<!DOCTYPE HTML>
<html>
{% load static %}
<head>
    <title>Admin Portal</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
    <h1>hi {{ request.user.username }} (admin)</h1>
    <div>
    <h2> active </h2>
    <ul>
        {% for user in active_users %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
    </div>
    <div>
    <h2> Inactive </h2>
    <ul>
        {% for user in inactive_users %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
    </div>





    <a href="{% url 'logout' %}">Logout</a>
<script>
    console.log('hello');
</script>
</body>
</html>

