{% extends 'base.html' %}
{% block title %}Stream{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <script>alert('{{ message }}')</script>
    {% endfor %}
{% endif %}
<h2>Hi, {{ request.user.username }}</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form1.as_p }}
    <button type="submit">Upload</button>
</form>

<form method="post">
  {% csrf_token %}
  {{ form2 }}
  <button type="submit">Save changes</button>
</form>
<a href ="{% url 'home' %}">Go to Home</a>
{% endblock %}
