.djreaction{
	position: relative;
	text-align: center;
	top: -310px;
    left: -25px;
}
.djcontainer{
	height: 325px;
}
.dj{
	height: 300px;
}
.djname{
	position: relative;
	top: -100px;
	color: #14A76C;
	font-size: 40px;
}