.emoji_container{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 15px;
    padding: 2px;
    border: solid white 1px;
    border-radius: 5px;
    cursor: pointer;
}
.emojis{   
  transition-duration: 0.5s;
}
.emojis:hover{
	transform: translateY(-20px);
}
.emoji_container:hover{
border: grey 5px;
height: 65px;
}

.reaction_container{
height: 70px;
margin-bottom: 15px;
}

.messagealert img{
    width: 80px;
    height: 80px;
}

.reply_emoji{
    width: 100px;
    height: 100px;
    visibility: hidden;
}

.djreaccontainer{
	text-align: center;
	display: inline;
	justify-content: center;
}