.search{
    margin: 0 !important;
    padding-top: 5vh;
    overflow-x: auto;
    padding-left: 5rem !important;
    color: #D2CEE4;
    font-size: 1.5rem;
    padding-left: 2rem !important;
  }
  .fa-search{
    color: #D2CEE4;
  }
  
  #searchBar{
    background-color: #291741;
    color: #D2CEE4;
    width: 25rem;
    height: 4rem;
    transition-duration: 0.5s;
  }
  #searchBar i{
    color: #D2CEE4;
  }
  #searchBar:focus{
    border-color: #D2CEE4;
  }
  