*{
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Muli', sans-serif;
}
#logout{
  color: #D2CEE4;
  font-size: 1rem;
  display: block;
  text-align: center;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -1rem;
  margin-bottom: 1rem;
  transition-duration: 0.25s;
}
#logout:hover{
  color: white;
  transition-duration: 0.25s;
}

/*Controls*/
.currentsong{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 25vw;
  max-width: 31.25rem;
  padding-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  color: white;
  text-overflow: clip;
  font-style: 'Muli', sans-serif;
  margin-left: 6rem !important;
  font-size: 1.2rem;
  margin-right: 0;
  vertical-align: center;
}

.currentsong img{
  display: inline-block;
  height: 10vh;
  min-width: 8rem;
  margin-right: 0.95rem;
  background: transparent;
}
.playcontrols{
  display: inline-flex;
  flex-direction: column;
  vertical-align: bottom;
  height: 15vh;
  width: 40vw;
  max-width: 50rem;
  justify-content: center;
  align-items: flex-start;
  white-space: nowrap;
  margin: 0 auto;
  font-size: 1rem;
  color: white;
  padding-left: 4px;
  margin-left: 2rem;
  vertical-align: center;
}
.playcontrols .fas{
  font-size: 1rem;
  vertical-align: baseline;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.volumecontrols{
  display: inline-flex;
  flex-direction: column;
  vertical-align: bottom;
  height: 15vh;
  width: 20vw;
  max-width: 20rem;
  justify-content: center;
  align-items: flex-start;
  white-space: nowrap;
  margin: 0 auto;
  font-size: 1rem;
  color: white;
  padding-left: 4px;
}

.volumecontrols .fas{
  font-size: 1.1rem;
  vertical-align: baseline;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
/*Slider*/
input[type="range"]{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 2px; /* Specified height */
  background: white; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  width: 45vw;
  max-width: 45rem;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%; 
  background: rgb(0, 214, 99);
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: rgb(0, 214, 99);
  cursor: pointer;
}
/*End Slider*/

#mute-control{
  width: 10vw;
  max-width: 10rem;;
}
.reaction_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}
.emoji_container{
  display: inline;
  margin-top: 2rem;
  transition-duration: 0.25s;
}
.emoji_container:hover{
  transform: scale(1.2);
  transition-duration: 0.25s;
}
