html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
}

body {
  background: linear-gradient(110deg, #FF7F7F 60%, #F3B768 60%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

.body{
margin: 0;
padding: 0;
height: 100vh;
overflow: hidden;
max-width: 100vw;
min-height: 600px;
}
.App-header-login {
  background-color: #0e1111;
  min-height: 100px;
  height: 100px;
  min-width: 100vw;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: row;
}

/*.
   Pages.
*/
.login-page {
  display: flex;
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.form-container, .regform-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75vw;
  max-width: 650px;
  font-size: 24px;

}
.form-container input, .regform-container input{
  width: 50vw;
  max-width: 435px;
  margin: 0 auto;
  justify-content: center;
  align-self: center;
}
.form-container button, .regform-container button{
  width: 10vw;
  min-width: 90px;
}
.regform-container input{
  height: 38px;
  border: 1px #d2d5db solid;
  padding-left: 5px;
  font-size: 18px;
  border-radius: 5px;
}

.regform-container{
  margin: 0 auto;
  margin-top: 3vh;
  background-color: #E8EBEF;
  border: 2px #E8EBEF solid;
  border-radius: 10px;
}
.regform-container button{
  transition-duration: 1s;
  background-color: #007bff;
  border: #007bff;
  color: white;
  padding: 8px;
  border-radius: 3px;
  font-size: 20px;

}

.regform-container button: hover{
  background-color: #2025b2;
  border-color: #2025b2;
}
.regform-container form{
  text-align: center;
}
.regform-container label{
  text-align: left;
}  
.success{
  visibility: hidden;
  text-align: left;
  background-color: #d7f8da;
  border: 1px solid #c6f5cb;
  border-radius: 2px;
  width: 75vw;
  max-width: 650px;
  margin-top: 5px;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  color: #1c7224;
}
.error{
  visibility: hidden;
  text-align: left;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 2px;
  width: 75vw;
  max-width: 650px;
  margin-top: 5px;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  color: #721c24;
}